.about {
  text-align: center; 
  padding: 20px;
  color: #201319;
}

.profile {
  height: 400;
  width: 300px;
  border-radius: 25px;
}

.aboutTitle {
  font-size: 35px;
  text-decoration: underline;
  margin: 10px;
}

.aboutBody {
  margin: 35px;
  font-size: 20px;
}